/* Navbar Section  */
.navbar {
    background-color: #21243d;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 65px;
}

.logo {
    margin-left: 2%;
}

.nav_items {
    margin-right: 20px;
    margin-top: 5px;
}

.nav_items a {
    padding: 0px 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 0px 20px;
    font-size: 23px;
}

.search_btn {
    margin-right: 100px;
    cursor: pointer;
}

/* Navbar Section Ends */

/* Hero Section  */
.container1 {
    background-image: url(/images/bg1.png);
    width: 100vw;
    height: 796px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_details {
    color: white;
    width: 475px;
    height: 225px;
    position: relative;
    top: 240px;
    left: 250px;
}

.hero_heading {
    font-weight: bold;
    font-size: 100px;


}

.hero_desc {
    font-size: 15px;
    font-size: 25px;
}

#btn {
    background-color: #21243d;
    color: white;
    position: relative;
    top: 300px;
    left: 250px;
    padding: 15px 75px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50px;
    margin-top: 20px;
}

/* Hero Section Ends */
/* Product Section  */

.product_container {
    background-image: url(/images/bg2.png);
    width: 100vw;
    height: 796px;
    background-repeat: no-repeat;
    background-size: cover;
}

.product_title {
    color: white;
    text-align: center;
    padding-top: 25px;
}

.product_desc {
    margin-top: 30px;
    font-size: 30px;
}

.product_items_container {
    display: flex;
    justify-content: center;
    color: white;

}

.product_items {
    margin: 60px;
    padding: 10px;
}

#item_img {
    padding: 100px;
    margin-top: 75px;
    position: relative;
    right: 110px;
}

#item_title {
    color: #21243d;
    font-weight: bold;
    margin-top: 40%;
    font-size: 70px;

}

#item_desc {
    color: #21243d;
    font-size: 20px;

}

/* Product Section Ends  */

/* Stat Section  */
#stat_container {
    background-image: url(/images/bg4.png);
    width: 100vw;
    height: 798px;
}

.container_circles {
    margin-top: 50px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    margin-top: 110px;
    align-items: center;
}

.circle {
    height: 300px;
    width: 300px;
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    font-weight: bold;
    border: 6px solid white;
    border-radius: 50%;

}

/* Stat Section Ends */

/* review section  */
.container_review {
    background-image: url(/images/bg6.png);
    width: 100vw;
    height: 974px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container_review1 {
    background-image: url(/images/bg01.png);
    width: 100vw;
    height: 769px;
    opacity: 0.9;
    position: relative;
    top: 100px;
}


#user_container {
    margin-top: 180px;
}

/* review section Ends */

/* form section  */
#textbox {
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    width: 400px;
    height: 38px;
    color: rgb(156, 156, 156);
    margin-left: 150px;

}

#form1 {
    margin-top: 230px;
}

#sub_btn {
    position: relative;
    right: 50px;
    bottom: 4px;
}

input {
    padding-left: 25px;
}

#form_title {
    font-size: 60px;
}

/* form section End */