/* Navbar Section  */
.navbar {
    background-color: #21243d;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 65px;
}

.logo {
    margin-left: 2%;
}

.nav_items {
    margin-right: 20px;
    margin-top: 5px;
}

.nav_items a {
    padding: 0px 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 0px 20px;
    font-size: 23px;
}

.search_btn {
    margin-right: 100px;
    cursor: pointer;
}

/* Navbar Section Ends */

/* Hero Section  */
.container1 {
    background-image: url(/images/bg1.png);
    width: 100vw;
    height: 796px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_details {
    color: white;
    width: 475px;
    height: 225px;
    position: relative;
    top: 240px;
    left: 250px;
}

.hero_heading {
    font-weight: bold;
    font-size: 100px;


}

.hero_desc {
    font-size: 15px;
    font-size: 25px;
}

#btn {
    background-color: #21243d;
    color: white;
    position: relative;
    top: 300px;
    left: 250px;
    padding: 15px 75px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50px;
    margin-top: 20px;
}

/* Hero Section Ends */
/* Product Section  */

.product_container {
    background-image: url(/images/bg2.png);
    width: 100vw;
    height: 796px;
    background-repeat: no-repeat;
    background-size: cover;
}

.product_title {
    color: white;
    text-align: center;
    padding-top: 25px;
}

.product_desc {
    margin-top: 30px;
    font-size: 30px;
}

.product_items_container {
    display: flex;
    justify-content: center;
    color: white;

}

.product_items {
    margin: 60px;
    padding: 10px;
}

#item_img {
    padding: 100px;
    margin-top: 75px;
    position: relative;
    right: 110px;
}

#item_title {
    color: #21243d;
    font-weight: bold;
    margin-top: 40%;
    font-size: 70px;

}

#item_desc {
    color: #21243d;
    font-size: 20px;

}

/* Product Section Ends  */